[2013-06-29 05:18] jminardi opened #1 "Theme Gallery?"
Is there somewhere where I can see all these themes rendered?

[2013-06-29 05:27] #1 closed, assigned to nobody

[2013-08-10 13:23] damianavila opened #4 "Syncronize the themes when Categories get merged..."
Just a note of reminder for me also... when Categories get merged, we need the update the nikola themes in the gallery to accommodate them to this change...

[2013-08-19 17:31] yarko opened #5 "nikola theme parents step on nikola installed themes"
when parent "default" (for example) is changed in nikola (such as happened recently, to factor out slides.tmpl),  the default (now outdated) theme here becomes inconsistent / incompatible with nikola.

Suggest - either keep the nikola default installed themes here updated / sync'd with nikola, or (better) remove the default nikola thieme components from this repo (you could reference them from one

[2013-08-27 00:33] #4 closed, assigned to nobody

[2013-08-27 00:33] ralsina opened #8 "Polishing provided themes for v6 launch"
- [x] sidebars/notes look bad in monospace
- [x] crumbs look bad in bootstrap
- [x] ~~literal font is too large in readable~~
- [x] ~~gallery broken in readable~~
- [x] ~~slides broken in readable~~

Not being a bootstrapy theme, readable is what it is.

[2013-09-07 12:28] #8 closed, assigned to nobody

[2013-09-07 12:28] #5 closed, assigned to nobody

[2013-09-25 19:56] ralsina opened #15 "Make the "bootswatch" link give useful info"

[2013-09-25 19:57] ralsina opened #16 "Add comments to the themes"
Not trivial because it's all a single page, but surely there is a way using _some_ comment system.

[2013-10-05 09:17] #16 closed, assigned to nobody

[2013-11-06 16:34] Kwpolska opened #17 "Add AUTHORS files to the themes"
Every theme should get an AUTHORS file, containing the names and GitHub links.

[2013-11-09 18:30] keturn opened #18 "update bootstrap3-jinja to bootstrap 3.0.2"
I ran into this because the newer bootstrap uses a newer normalize.css, which fixed styling bug I hit.

This is pretty easy and I can do a PR for this. Are the bootstrap.css & .min.css files included here the default distribution, or have they been customized?

[2013-11-09 18:30] keturn opened #19 "support hidetitle in base-jinja"

[2013-11-09 18:49] #18 closed, assigned to nobody

[2013-11-10 03:51] keturn opened #20 "base-jinja: twitter:site should be optional"
https://github.com/getnikola/nikola-themes/blob/master/themes/base-jinja/templates/post_helper.tmpl#L52

in `twitter_card_information`, `twitter:site` is not a required field, so this should be an `elif 'site' in twitter_card` instead of an `else`, so we don't end up with a line defining a blank `twitter:site` value.

[2013-11-10 11:49] #19 closed, assigned to ralsina

[2013-11-10 11:49] #20 closed, assigned to nobody

[2013-11-11 08:52] c19 opened #22 "disqus_helper.tmpl should not use handcoded 'http://' src"
disqus_helper.tmpl
only `themes/base-jinja/templates/disqus_helper.tmpl` has fixed this bug.
`dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';`

others still use `dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';`
which leads to unusability of disqus in https site.

[2013-11-11 08:58] #22 closed, assigned to nobody

[2013-11-11 10:44] Kwpolska opened #23 "Serve stuff to `capty` over HTTP"
Reason: zen themes use font awesome, which breaks if you are not on http(s).

[2013-11-13 13:55] bbuyukguzel opened #24 "Zen Theme Installation Problem"
Hello,

I was trying to use zen theme but i got same error every time.
- I tried 3 version of this theme (zen, jinja, and ipyton).
- I tried to change python evn. (2.7.5 to 3.3)
  Someone told this (http://www.damian.oquanta.info/posts/nikolas-zen-theme-finally-released.html)
  PS: now its default version (2.7.5)
- And I already changed navigation links and theme name in config file

Could you ple

[2013-11-13 14:19] #24 closed, assigned to nobody

[2013-11-13 14:40] Kwpolska opened #25 "Clean up the zen themes"
1. there should be a `zen-ipython-mako` theme (or `zen-ipython` for mako and `zen-ipython-jinja` for jinja2)
2. files should not be duplicated between the themes — i.e. assets and less files should be only in `zen` and `zen-jinja`

Assigned to @arusahni because that’s what one file states; and cc’ing @damianavila because he seems to work on those, too.

[2013-11-13 15:57] ralsina opened #26 "detect LESS dependency"
If a theme has files with .less extension it should appear as a dependency.

[2013-11-13 16:08] #23 closed, assigned to nobody

[2013-11-15 15:15] #17 closed, assigned to ralsina

[2013-11-16 15:35] DDevine opened #27 "Active links styled by CSS class instead of CSS selector"
I noticed that at http://ddevnet.net/blog/archive/index.html the active link in the navigation doesn't get highlighted like what happens on the other pages. This is because the "active" class is not added to the link for whatever reason. However...

Shouldn't `a:active` selector be used in CSS instead of adding an `class="active"` to links and styling that way?

I am running the Readable theme (on

[2013-11-16 15:55] #27 closed, assigned to nobody

[2013-11-30 20:32] ralsina opened #29 "If we can use this with the demo for bootstrap themes... whoa :-)"
http://codepen.io/thomaspark/full/vmpCx

[2014-01-23 09:41] mrcinv opened #30 "IPython themes do not display math"
None of the themes for ipython that comes with nikola 6.2.1 does not include mathjax  in resulting html and consequently doesn't display math correctly. It does not seem to load ipython css as well, so python code is not highlighted.

[2014-03-08 12:18] da2x opened #32 "Port Ghostwriter to Nikola"
Take the [Ghostwriter theme](https://github.com/roryg/ghostwriter/), strip the AJAX, and port and adopt it to Nikola. Rename it _Teslawriter_.

[2014-04-01 14:11] michaeljoseph opened #33 "https://github.com/designmodo/Flat-UI"

[2014-05-01 16:40] #30 closed, assigned to Kwpolska

[2014-05-11 23:54] jairot opened #35 "Syntax highlighting not working on Zen-jinja"
I'm using zen-jinja theme and Syntax highlightingt is not working

[code]

renders like this:

![nikola](https://cloud.githubusercontent.com/assets/1162519/2939978/672e2cae-d967-11e3-9167-f55c146d2625.png)

I'm missing something?

[2014-05-12 13:25] #35 closed, assigned to Kwpolska

[2014-08-06 01:13] michaelaye opened #37 "zen-ipython does not render Latex math inside notebook markdown cells."
See here how the notebook does it:

![screen shot 2014-08-05 at 18 09 18](https://cloud.githubusercontent.com/assets/69774/3821172/a648e752-1d06-11e4-9e0c-b5e53cab6201.png)

and how it looks like in zen-ipython:
![screen shot 2014-08-05 at 18 09 39](https://cloud.githubusercontent.com/assets/69774/3821173/b0368742-1d06-11e4-90c5-87bc97cfe1d7.png)

Versions:

[code]

[2014-08-06 09:14] #37 closed, assigned to Kwpolska

[2014-08-08 19:56] jmeridth opened #38 "UndefinedError: 'jinja2.environment.TemplateModule object' has no attribute 'html_footer'"
I installed the zen-jinja theme and when I try to `nikola build` I get:

[code]

looking at:
https://github.com/getnikola/nikola-themes/blob/master/v7/zen-jinja/templates/base.tmpl#L3-L4

are the `base_footer.tmpl` and `annotation_help.tmpl` files missing from the repo?  Love the theme and would like to use it.  Thank you for any help.

[2014-08-08 21:01] #38 closed, assigned to nobody

[2015-02-09 12:24] dastagg opened #40 "ZenJinja Theme - CSS for code line numbers is not displaying correctly."
I have used the same files for both the default theme and the ZenJinja theme.

Within the listings directory I have the following structure

- listings
  - xml01
    - tutorial
      - file1.xml
    - review
      - file2.xml
    - case1
      - file3.xml

When I build the site using the default theme, the code listing line numbers look normal.
When I build the site using the ZenJinja theme, the c

[2015-02-09 15:17] Kwpolska commented on #40
@damianavila?

[2015-02-13 14:09] damianavila commented on #40
I will try to look on this during the weekend...

[2015-05-21 17:15] ralsina opened #41 "Support readme.rst"
I am now adding other people's themes via git submodules.
Some of these have README.rst instead of README.md so it needs converting.

Pandoc does a good enough job, so it should not be very hard.

[2015-06-10 18:47] ralsina opened #43 "make the site rebuild automatically"
Looks like ghostjs can now do decent screenshots, so I could do this in the VPS.

[2015-06-11 13:40] Kwpolska commented on #43
To save resources, you could use a webhook and rebuild only when necessary™, for both themes and plugins (and maybe even automate nikola-site?)

* [Webhooks docs](https://developer.github.com/v3/activity/events/types/#pushevent)
* [Sample implementation of the `issues` hook in Twisted by yours truly, complete with signing](https://github.com/Kwpolska/kwbot/blob/master/kwbot.py#L257)
* [`push` docs

[2015-06-23 06:03] Kwpolska opened #45 "Nuke v5 and v6 themes"

[2015-06-23 06:05] Kwpolska commented on #45
v5 and v6*

[2015-06-23 11:27] damianavila commented on #45
:+1:

[2015-06-23 13:08] #45 closed

[2015-07-15 21:18] chacha92 opened #49 "Can't install any theme"
when I enter the command
nikola install_theme -l (or nikola install_theme zen-ipython for example)
I get a list of errors:

[code]

[2015-07-15 21:22] ralsina commented on #49
Can you confirm that the date/time in your computer is set correctly?

[2015-07-15 21:38] chacha92 commented on #49
Yes, it is.

[2015-07-15 21:49] ralsina commented on #49
Version of python?

[2015-07-15 21:49] chacha92 commented on #49
3.4

[2015-07-15 21:51] ralsina commented on #49
Dunno then. @Kwpolska anything comes to mind?

[2015-07-16 07:03] Kwpolska commented on #49
No… it might be caused by badly configured SSL, without support for some of the modern things we need.

We might also switch the url to `http` and disable redirects on the themes/plugins sites, for cases like this. Should we?

[2015-07-16 10:38] arusahni commented on #49
As a fallback? Makes sense. Perhaps prompt the user in the event of a downgrade in security so they can bail on the installation if they don't feel safe.

[2015-07-16 19:45] #49 closed

[2015-08-20 10:13] Kwpolska opened #51 "Material Theme has a broken navbar with external links"
getnikola/nikola#1951: an external links becomes http://SITE_URL.com/http://OTHER_SITE.com, and that link does not work without JS off. @matuu, please fix it.

[2015-08-20 11:57] matuu commented on #51
Ok, I try to fix today

[2015-08-23 07:57] #51 closed

[2015-09-03 15:34] Kwpolska opened #55 "Featured themes"
Implementation: replace the “no plugin selected” check with a special page that’s more informative (see getnikola/plugins#109)

@Aeyoun, @ralsina: ideas go here.

[2015-09-05 20:52] timmie opened #56 "bootswatch_theme throws error SSL23_GET_SERVER_HELLO"
[code]

[2015-09-06 07:26] Kwpolska commented on #56
Your SSL is broken, and we are not responsible for this. Please google this error and the name of your distribution/operating system

PS. the correct command is `nikola bootswatch_theme -s united -n united`

[2015-09-06 07:26] #56 closed

[2015-10-27 12:25] ralsina opened #61 "Theme demo sites need fixed base url"
Currently because of the base tag, all links are broken.

[2015-10-27 16:13] Kwpolska commented on #61
Or just the base tag disabled.  I’ll do that and rebuild.

[2015-10-27 16:24] Kwpolska commented on #61
Fixed in 0f2b763.

[2015-10-27 16:24] #61 closed

[2015-12-31 12:42] mandarvaze opened #64 "Material Theme not python3 compatible ?"
I get the following error when I try to use `social_links`

[code]

When I searched for the error, I came across [this](https://github.com/mitsuhiko/jinja2/issues/150) which seems to indicate that this is python3 compatibility problem.
I fixed this (locally) by changing to `.items()` as suggested in the linked jinja2 issue.
I don't know (YET) if there is a way to support both python2 and python3,

[2015-12-31 12:50] Kwpolska commented on #64
`.items()` is enough on both Pythons. You can send a pull request.

[2015-12-31 12:57] Kwpolska commented on #64
(Also, please create an issue for the social buttons problem about which you left a comment on the website, and mention @matuu.)

[2015-12-31 18:06] mandarvaze opened #65 "Better documentation for Social links in floating action button"
(I was asked to create an issue based on comment on the website, and refer it to @matuu)

Social links in floating action button is not working for me.
I see the site similar to the demo site, which does not have floating social buttons. (My site looks like that)

It would be good to provide a working copy of ``conf.py`` as an example

[2015-12-31 18:22] mandarvaze commented on #64
Done (#66) and Done (#65)

[2016-01-05 11:29] ralsina opened #68 "BNW and octopress seem to be broken"
Either it's missing some config tweak or it just doesn't work. I'll check it.

[2016-01-05 14:49] Kwpolska commented on #68
I patched it locally once, for the list.tmpl change I think, but I haven't
sent the patch upstream. I'll do that later.

--
Chris Warrick <https://chriswarrick.com/>
Sent from my Galaxy S3.
On 5 Jan 2016 12:29, "Roberto Alsina" <notifications@github.com> wrote:

[2016-01-05 15:05] ralsina commented on #68
Ah, great.

[2016-01-05 16:12] Kwpolska commented on #68
Sent PRs to lotabout/nikola-bnw#1 and magmax/nikola-theme-octopress#4.

[2016-02-15 20:12] fccoelho opened #72 "Latest release broke Octopress theme for github_deploy"
I have just upgraded to nikola 7.7.5 and my Octopress theme stopped working. I am gettingo the following error:

[code]

[2016-02-16 16:36] Kwpolska commented on #72
Does removing `themes/octopress/.git*` fix it?

[2016-02-17 11:20] fccoelho commented on #72
yes it did! thanks!

On Tue, Feb 16, 2016 at 2:36 PM, Chris Warrick <notifications@github.com>
wrote:

--
Flávio Codeço Coelho
================
+55(21) 3799-5551
Professor
Escola de Matemática Aplicada
Fundação Getulio Vargas
Praia de Botafogo, 190 sala 312
Rio de Janeiro - RJ
22250-900
Brasil

[2016-02-17 12:09] fccoelho opened #73 "Logo not showing up in octopress Theme"
I specified a png image as logo and it appear normally in the material-theme. but not in the Octopress theme

[2016-02-17 16:50] Kwpolska commented on #72
We would probably need to figure out how to remove that file from zipballs.

[2016-02-17 16:53] Kwpolska commented on #73
cc @magmax

[2016-02-29 18:37] davidak opened #74 "Zen: Font loaded over http, blocked in Chromium"
[code]
https://themes.getnikola.com/v7/zen-jinja/index.html

[2016-02-29 18:38] ralsina commented on #74
That should be changed to protocol-relative I guess.

[2016-02-29 18:39] Kwpolska commented on #74
Protocol relative is so 2010. https:// is good enough these days. I’ll fix it.

[2016-02-29 18:41] davidak opened #75 "page broken in all jinja theme demos"
see

https://themes.getnikola.com/v7/bootstrap3-gradients-jinja/stories/dr-nikolas-vendetta.html
https://themes.getnikola.com/v7/base-jinja/stories/dr-nikolas-vendetta.html
https://themes.getnikola.com/v7/bootstrap3-jinja/stories/dr-nikolas-vendetta.html

[2016-02-29 18:49] Kwpolska commented on #75
This is a bit hard to fix. We could, however, try to jinjify the template when we detect a jinja-based theme.

Or we could put the `book.tmpl` template in our base themes, but I don’t think that’s feasible…

[2016-02-29 18:54] Kwpolska commented on #74
Fixed.

[2016-02-29 18:54] #74 closed

[2016-02-29 19:12] ralsina commented on #75
Yeah, book.tmpl is just too peculiar :-)

We could make the themes site jinjify templates/

On Mon, Feb 29, 2016 at 3:50 PM Chris Warrick <notifications@github.com>
wrote:

[2016-03-05 09:57] #68 closed

[2016-03-05 09:58] Kwpolska commented on #73
This theme is not supported anymore.

[2016-03-05 09:58] #73 closed

[2016-04-06 04:35] therealkbhat opened #76 ""fatal: Not a git repository" on github_deploy attempt with the "lotabout" theme"
More specifically,
[code]
Now, the output of any git command in this directory gives that `fatal: Not a git repository: themes/lotabout/../../.git/modules/v7/lotabout` error.

[code]
The `themes/lotabout/../../.git/modules/v7/lotabout` folder doesn't even exist. What's happening here?

[2016-04-06 05:16] hhirsch commented on #76
@therealkbhat Are there any .gitmodules files?

[2016-04-06 05:18] therealkbhat commented on #76
@hhirsch nope.

[2016-04-06 07:49] hhirsch commented on #76
@therealkbhat Can you upload these files somewhere so I can try to reproduce the problem?

[2016-04-06 10:02] therealkbhat commented on #76
@hhirsch Seeing as how git wasn't working there, I put it up on Google Drive. You can get the blog files [here](https://goo.gl/jRzScd).

[2016-04-06 10:14] hhirsch commented on #76
For me it worked without error:
[code]

[2016-04-06 15:53] Kwpolska commented on #76
There is a `.git` file there that is not handled correctly. I’ll fix that now.

(this was also in #72)

[2016-04-06 16:05] therealkbhat commented on #76
@hhirsch @Kwpolska Yup, that `.git` file was the problem. Thank you both for your time!

[2016-04-06 16:37] #72 closed

[2016-04-06 17:42] Kwpolska commented on #76
Fixed in 1cca360.

[2016-04-06 17:42] #76 closed

[2016-04-20 09:40] mscipio opened #79 "[zen-ipython theme] Add new links on the social/menu/sidebar: icon and text"
Hi everybody!
I have just started experimenting with github pages and nikola and since I like the idea of using ipython notebook as a way to prepare new posts on the website I've chosen Zen-Ipython theme as a starting point.

I was wondering if there is a way to add new "symbols" on the sidebar since note every character in the FontAwsome set seems to be present. My actual need is to add a referra

[2016-04-20 17:39] Kwpolska commented on #79
You would need to modify the navbar. You could make it so if `icon` is empty, it would instead display the link text. This might need some styling changes.

[2016-04-20 22:07] mscipio commented on #79
Tanks for your kind answer! Could you please tell me where I can find the template file related to the navbar ... I have already though of such a solution but I haven't been able yet to find  the right file to make the needed changes ...

[2016-04-21 15:06] Kwpolska commented on #79
https://github.com/getnikola/nikola-themes/blob/master/v7/zen-ipython/templates/arusahni_helper.tmpl#L124

[2016-04-21 15:12] mscipio commented on #79
Yes I am sorry, I found out where to edit but I forgot to add my answer here ... my bad!
The solution I applied as for now is a bit tricky but it partially do its job. The problem is that the images I added as new icons, not being part of the FA set, are not responsive and so if I set theme to be as beautiful as I can in the desktop visualization the disappear ones i stretch the windows size in or

[2016-04-22 19:03] Kwpolska commented on #79
Note sure I understand your message, but try SVG icons?

[2016-04-27 12:58] mscipio commented on #79
I try to insert svg images inside the /image folder but when I try to launch the command "nikola build -a" I get the following error:

[code]

[2016-04-27 15:04] Kwpolska commented on #79
That bug is fixed in master, and we’d recommend putting that in files/ instead of images/ anyway.

[2016-04-27 15:16] mscipio commented on #79
What do you mean with "in master"?
And then, what it seems to me is that, with no respect of the folder I put he files in (/images, / files, or whatever), the "build" command generate an "/output" folder that is deployed in the master branch of my github repository where all those files are not in such folders but just directly inside the root one.

I believe you can access my repository with this

[2016-04-27 15:29] Kwpolska commented on #79
in `master` → when using the development version of Nikola (the `master` branch of getnikola/nikola on GitHub). A release is scheduled for Friday though.

The files in `/images` end up in `/images`, unless you delete the relevant config setting (it defaults to `/` but new sites are set to `/images`). For the new behavior, use:
[code]
Images in that directory are also rescaled.

As for `files/` — y

[2016-04-28 08:23] mscipio commented on #79
Hi! Thank again for your kind help!

I am not really great in developing this kind of website so I have to ask you a few addition to your previous message:

Where do I have to set this parameter? It isn't in the conf.py file so maybe somewhere else?

Is there anything I can do to change this?

this attribute that causes problems is related to what? Images in the sidebar? Because I think this is th

[2016-04-28 14:07] Kwpolska commented on #79
It is in `conf.py`. If it isn’t, try searching again (`IMAGE_FOLDERS` instead of the full path). If it’s still not there, just add it (it means you created your config file on an older version and the default kicks in)

Is there anything I can do to change this?

use https links everywhere, including font awesome CSS

sidebar images on mobile don’t appear with `max-width` set to 100% (current/defa

[2016-04-28 14:52] mscipio commented on #79
As soon as I can I will try inserting the IMAGE_FOLDER tag into conf.py (since it is not there) and see if it works!
Then I will test the website on my smartphone to try to understand the problem related to max_width. Today I played a bit with the svg source but without any luck ... I will go back on it as soon as I have a few spare time! ^^

P.S.
I saw the problem with target: _blank: it was actu

[2016-04-29 14:32] mscipio commented on #79
At the end I decided to redesign my own icon set and drop off the font awesome set.
Much more flexibility and just one syntax for everything I want to add to the sidebar now and in the future. I also add a few styling touches to the index.tmpl (just a welcome message, indeed! ^^) and I think I am good to start adding posts to this blog instead of just working on its "looks"!

Thank you very much f

[2016-04-29 14:34] Kwpolska commented on #79
You’re welcome!

[2016-04-29 14:34] #79 closed

[2016-05-10 04:09] magmax commented on #73
I never wanted this theme to be supported, so this is good :)

(sorry for the delay)

[2016-05-17 20:23] iAmMrinal0 opened #80 "Lanyon theme: If the sidebar is opened midway the article/page, it scrolls back up then opens the sidebar."
Steps to reproduce:

Scroll down a bit on a page.
Click the sidebar menu.
Page scrolls up and opens the menu.
Expected Result:
The page shouldn't scroll to the top but open the menu at that spot.

[2016-05-19 17:09] Woile opened #81 "Layon issues with gallery"
Using the theme `lanyon`, when accessing to /galleries a list of galleries is displayed, but the last slash (`/`) of a gallery is replaced with the url encoded value `%2f`.

For exmaple:
`/galleries/my_gallery/`
is replaced with:
`/galleries/my_gallery%2f`

And when clicked the gallery is not correctly displayed.
Also the colorbox plugin doesn't seem to work (but with the bootstrap template it doe

[2016-05-30 19:39] #80 closed

[2016-05-31 16:18] WereMike opened #83 "Submenu issue, possible workaround"
This theme doesn't support submenus - but here's what I did for my site:
base_header.tmp -
Removed:
[code]
Added:
[code]

lanyon.css -
Added:
`.sidebar-nav-item.subitem { padding-left: 2.2rem; }`

Then the standard nested menu in the config.py pulls it all together just fine. It's not super fancy, but it works ok.

[2016-06-25 18:31] iAmMrinal0 opened #84 "Lanyon use_cdn, fancy dates don't work."
One of the issues of Lanyon theme is that `USE_CDN` doesn't work. And also, `moment.js` and `fancydates` are not supported. I am currently working on fixing it.

[2016-06-26 21:17] iAmMrinal0 opened #86 "Lanyon: Line numbers of code listing isn't formatted properly."
As seen in the demo [here](https://themes.getnikola.com/v7/lanyon/listings/hello.py.html), the style breaks the line numbers resulting in poor formatting.

[2016-06-26 21:54] iAmMrinal0 commented on #86
I removed this line in [poole.css](https://github.com/getnikola/nikola-themes/blob/master/v7/lanyon/assets/css/poole.css#L170) and it fixes it, however when there's a lengthy string the text overflows and no scroll is shown.
![screenshot from 2016-06-27 03 21 30](https://cloud.githubusercontent.com/assets/890062/16365185/56ad8820-3c16-11e6-9d44-41070796de97.png)

Would require some help to figure

[2016-06-27 06:30] #84 closed

[2016-06-27 06:37] Kwpolska commented on #86
I’ll try to fix this.

[2016-06-27 07:17] Kwpolska commented on #86
Fixed on the `lanyon-listing-overflow` branch — pending getnikola/nikola#2383.

[2016-06-30 11:10] #86 closed

[2016-07-30 05:00] sindhus commented on #65
@mandarvaze did you figure out in which *.tmpl file to put in the `{{ social_links }}` jinja code?

[2016-07-30 05:26] sindhus opened #87 "Facebook comments count not updated"
hi, I am using facebook for comments but I see these errors in console

![screen shot 2016-07-30 at 10 49 20 am](https://cloud.githubusercontent.com/assets/4291156/17268273/b0b50504-5643-11e6-9aef-b146de02c2b4.png)

which I think results in comments not getting registered with the comments count:

![screen shot 2016-07-30 at 10 55 10 am](https://cloud.githubusercontent.com/assets/4291156/17268285/

[2016-07-30 06:01] sindhus commented on #65
@mandarvaze figured it out. you'd have to insert the links dictionary in `GLOBAL_CONTEXT` in `conf.py` and then material-design theme will automatically pick it up.

though if you have recently cloned material-design them the bundled kc_fab jquery plugin is outdated so you can get it by `bower install kc_fab`, extract kc_fab.js from the `bower_components` directory and move it to `themes/material-

[2016-07-30 06:41] Kwpolska commented on #87
jQuery is required for that to work (that’s documented; see also: getnikola/nikola#639) and it must be loaded very early (before that script). If you want Facebook comments with comment counts, please modify your templates. We can’t do this for everyone because it’s better to load jQuery at the end of `<body>` in most cases.

[2016-07-30 06:41] #87 closed

[2016-09-07 21:42] dacoex opened #90 "zen theme: not playing well with https"
Example:
https://dacoex.github.io/

the icons of font awesome are not shown when https is used.

Solution from wiki:
https://github.com/FortAwesome/Font-Awesome/wiki/Troubleshooting#im-hosting-fonts-on-my-server-and-icons-dont-show-up

points to:
http://www.paulirish.com/2010/the-protocol-relative-url/

[2016-09-08 14:58] Kwpolska commented on #90
This was fixed in commit c9039ee9 on February 29, 2016. Please reinstall your theme with `nikola theme -i`, rebuild and redeploy.

[2016-09-08 14:58] #90 closed

[2016-09-10 16:04] sindhus commented on #87
Thanks!

[2016-09-13 20:58] M42 opened #91 "Python error building with material-theme"
I have installed material-theme using `nikola install_theme material-theme`, but when I set the variable `THEME="material-theme"` in the configuration file and try to build, I get the following error:

[code]

[2016-09-14 15:17] Kwpolska commented on #91
Update Nikola. If you’re using the Debian/Ubuntu package: please remove it and [install in a virtualenv](https://getnikola.com/getting-started.html). You might also want to complain to Debian that they’re still shipping an old version of Nikola.

[2016-09-14 15:17] #91 closed

[2016-09-22 16:02] stefanos82 opened #92 "Missing --list--installed flag"
For `nikola plugin`, we offer `--list-installed` flag, but not so for `nikola theme`.

Is it possible to implement this?

Cheers.

[2016-09-22 16:43] #92 closed

[2016-10-01 12:14] jcvanelst opened #93 "Responsive tables in Lanyon theme?"
Hi. I'm using the lanyon theme for Nikola (and love it for its UI friendliness and general responisivenees) but, when it comes to tables, have the same issue as descibed here : https://github.com/poole/lanyon/issues/62 .

Does mdo's reply automatically imply that a responsive table functionality will not be added in the Nikola-ready theme? I'd love to help out and help make it work, but this kind

[2016-10-01 12:53] Kwpolska commented on #93
If the original theme authors won’t bother, neither will we.

Feel free to make it work for your site, or to contribute a solution upstream.

[2016-10-01 12:53] #93 closed

[2017-02-23 19:47] michaelcadilhac opened #102 "[material-theme] Increase font-size."
Material is beautiful, but I believe the font-size is too small.  The theme uses 14px fonts instead of 16px, making it it slightly hard to read, while crowding the posts.  How can I increase the font-size?  Should I simply `sed -i 's/font-size: *14px/font-size: 16px/g' *css` ?

Thanks;
Cheers

[2017-02-23 19:48] Kwpolska commented on #102
cc @matuu

[2017-02-24 03:10] matuu commented on #102
Ok, I do it on weekend!

[2017-02-24 08:54] Kwpolska commented on #102
I don’t think you should do this globally, documenting how to change the size if the user pleases will be better.

[2017-02-24 14:23] michaelcadilhac commented on #102
Thanks @matuu, very appreciated!  For the record, I do agree with @Kwpolska's approach :-)

I'm not versed in CSS and these Bootstrap novelties, but I'd have been tempted to believe that all `font-size`s would have been relative to a document font-size (that is, specified in `em` for instance), so that increasing the font-size was a matter of changing a single line.  Is there a reason why it's not

[2017-02-26 00:52] ivanteoh opened #103 "Failed in test_themes.py"
When running ``scripts/test_themes.py carpet`` with my new theme (carpet) or any old theme,

I got these error messages,

[code]

Any advise on how to resolve this? Thanks.

[2017-02-26 01:23] ivanteoh commented on #103
Resolve in https://github.com/getnikola/nikola-themes/pull/104

[2017-02-26 15:49] #103 closed

[2017-02-26 16:05] Kwpolska commented on #64
This was fixed long ago, closing.

[2017-02-26 16:05] #64 closed

[2017-02-26 16:06] Kwpolska commented on #41
We can do that with our new infrastructure if we have to, but right now we don’t need that.

[2017-02-26 16:06] #41 closed

[2017-02-26 16:07] Kwpolska commented on #55
Thumbnails are good enough.

[2017-02-26 16:07] #55 closed

[2017-02-26 16:37] #75 closed

[2017-02-27 13:08] matuu commented on #102
Hi @michaelcadilhac, you're right!. Simply, add `<style>body{font-size:17px;}</style>` to EXTRA_HEAD_DATA in conf.py file and ready!

I add this in README file in #107

[2017-02-27 13:15] michaelcadilhac commented on #102
Thanks @matuu, that's perfect! Cheers!

[2017-02-27 13:15] #102 closed

[2017-03-01 17:22] henryiii opened #109 "[material-theme] Missing bullets"
Material theme does not display bullets for bulleted lists. It even shows up in the example page. Is this an error or is there a way to add them?

[2017-03-01 17:25] henryiii opened #110 "[material-theme] Mobile friendly"
Would it be possible to adjust the theme for mobile usage? Especially since it is named after Google's theme that started with mobiles...

[2017-03-01 18:59] matuu commented on #110
Theme is responsive, but could be better.
Let me find some time for improving it...
PRs are welcome! :-)

[2017-04-02 01:08] tautologico opened #111 "Math rendering doesn't work with lanyon theme"
The math support mentioned in the Nikola Handbook does not work when using the lanyon theme. The LaTeX code is just wrapped in an equation* environment, and not rendered. I checked the templates and it seems the code to include the mathjax (or katex) code is not present in the theme templates.

[2017-04-02 09:55] Kwpolska commented on #111
Cannot reproduce. Make sure…

* you added the `mathjax` tag to your post
* JavaScript is enabled
* you are using a modern browser
* you are using `nikola serve` or an otherwise real web server and not `file://`

[2017-04-02 09:55] #111 closed

[2017-04-03 01:09] tautologico commented on #111
In this case I think it's a documentation bug. I looked at the docs multiple times to see if there was any additional setup to use math notation, and I didn't see any indication that I had to use the mathjax tag. Specifically, the Math section in the Handbook seems to indicate it will just work if you use .. math::. I think this section should include the indication to use the tag.

What if I enab

[2017-04-03 15:27] Kwpolska commented on #111
(From the docs)
The tag name does not depend on the renderer selected; I’ll add a note about it.

[2017-04-04 19:20] Kwpolska commented on #111
@tautologico, please do not delete comments, especially because it’s *absolutely fine* to ask questions like this, for example if docs are not entirely clear or you otherwise have doubts.

[2017-04-06 17:55] tautologico commented on #111
Sorry, I realized I was talking nonsense because the comment is right there in the documentation and I hadn't seen it.

[2017-04-24 12:22] encarsia opened #112 "[zen] Update of Font Awesome icons?"
Hi there,

the Zen theme works with Font Awesome 3.2.1 which is no longer supported and the current version offers even more icons.

Is there a chance of getting this updated? It would be highly appreciated.

[2017-04-24 15:06] Kwpolska commented on #112
Could you make a pull request for this yourself?

[2017-05-23 12:36] henryiii commented on #109
An example of Google's own Material theme page with bullets: https://material.io/guidelines/style/typography.html

[2017-05-23 15:29] #109 closed

[2017-05-25 14:37] madduck opened #123 "Can't find GLOBAL_CONTEXT in config dict (reveal theme)"
Even though I added the `GLOBAL_CONTEXT.update()` call to `conf.py`, trying to
compile a site with the reveal theme, I get the following traceback. The bug
seems to be in the handling of deprecation warnings in Nikola itself though.

    Traceback (most recent call last):
      File "/home/madduck/.bin/nikola", line 11, in <module>
        load_entry_point('Nikola==7.8.5', 'console_scripts', 'niko

[2017-05-25 14:41] Kwpolska commented on #123
Sorry for that, I mixed up the types there. This bug was fixed on GitHub master [recently](https://github.com/getnikola/nikola/commit/fb06046ca8c953f2fcdabaa43e450b4dd5c89104) by @ralsina, so update to that, or just backport the one-line patch to your `nikola.py`.

[2017-05-25 14:41] #123 closed

[2017-05-25 14:43] ralsina commented on #123
@Kwpolska we should use bunches, which work both like dicts and like objects, like in JS :-)

[2017-05-25 15:33] madduck opened #124 "[bnw] story template does not work at all"
Please see https://themes.getnikola.com/v7/bnw/demo/pages/listings-demo.html for an example. Posts work, pages don't.

[2017-05-25 15:44] Kwpolska commented on #124
@lotabout, could you take a look at this?

[2017-05-30 07:21] dadaromeo opened #125 "[canterville] Support for mathjax"
Great job with the theme! It's modern, clean and cool. But it seems like it doesn't support mathjax. I think it will be a great value if there is an effort in that direction. I'm currently using it for my [blog](https://dadaromeo.github.io).

[2017-05-30 11:43] #125 closed

[2017-05-30 11:43] Kwpolska commented on #125
There was a typo in the theme (also in detox and hemingway). I updated the theme, so just run `nikola theme -i canterville` to make it work again.

[2017-05-30 13:52] ralsina commented on #125
Cool!

Feel free to change the frontpage image if that one is too generic :-D

[2017-05-31 18:08] dadaromeo commented on #125
:+1:  It works now.

[2017-06-03 02:23] lotabout commented on #124
@madduck Sorry for late response. I no longer use nikola, so the theme is not maintained any more.

Yet, the reason that listing page is not working is that `bnw` did not support it in the first place(no specific template is created).
If you are interested in hacking the theme, PRs are welcome.

[2017-06-03 08:15] Kwpolska commented on #124
@lotabout Can we move the theme from your repo into nikola-themes (remove submodule, copy files in)? That will make maintenance easier for us.

[2017-06-03 13:10] lotabout commented on #124
@Kwpolska Sure, please.

[2017-06-03 16:20] #124 closed

[2017-06-03 16:21] Kwpolska commented on #124
Thanks! I moved the theme inside the repo and added `story.tmpl`.

Can I do the same with your lotabout theme?

[2017-06-04 00:47] lotabout commented on #124
@Kwpolska Yes. And thank you for maintaining these themes.

[2017-07-17 13:24] bebound opened #126 "[hyde] katex css not load in home page"
The `katex.min.css` will load automaticly in the post page, but not load in the home page.

So the home page did not hide the original latex expression:

<img width="693" alt="screen shot 2017-07-17 at 21 24 51" src="https://user-images.githubusercontent.com/2227874/28269961-6504a0b6-6b36-11e7-8b97-d1dabec7c1e8.png">

sample url: https://bebound.github.io

[2017-07-17 13:33] #126 closed

[2017-07-17 13:33] Kwpolska commented on #126
Fixed, thanks for reporting! Please update your theme (`nikola theme -i hyde`) and rebuild.

[2017-08-15 13:16] bebound opened #128 "[hyde] looks wired on small screen"
url: https://bebound.github.io/posts/parameters-in-dov2vec/

It behaves different than the demo, I have no idea what the reason is. Thank you.

<img width="490" alt="screen shot 2017-08-15 at 21 09 33" src="https://user-images.githubusercontent.com/2227874/29317379-35a82f2a-81fe-11e7-8bde-152c8710ee42.png">

[2017-08-15 14:18] Kwpolska commented on #128
The demo site behaves the same way for me. Looks like it’s how that theme is designed.

[2017-08-15 14:18] #128 closed

[2017-08-27 11:28] kerstin opened #130 "[lanyon] Problems with building on base tag.tmpl"
Trying to extend the lanyon theme for myself because what's there right now is not sufficent for my needs. I successfully managed to adapt `post.tmpl` but I'm running into problems when including `tag.tmpl` (both were copied from the [base template directory](https://github.com/getnikola/nikola/tree/master/nikola/data/themes/base/templates) in the main repo).

Log:

[code]

[2017-08-27 11:36] kerstin opened #131 "Better reference base template files"
I'm putting this here for now because... I can't find the original reference anymore.

It'd be great if the [base template files](https://github.com/getnikola/nikola/tree/master/nikola/data/themes/base) were referenced/linked more prominently from the various pages about theming, including the lanyon tutorial.

One template must be linked from _somewhere_ because otherwise I wouldn't have known th

[2017-08-27 12:33] Kwpolska commented on #130
Which version of Nikola are you running? Did you alter anything before you got that error?

Things may have changed between the version you’re running and `master` (which is Nikola v8-dev). Instead, use `nikola theme -c tag.tmpl` to copy the file from your local copy of `base`.

[2017-08-27 12:46] kerstin commented on #130
Oh, that might indeed be the case – I installed nikola via `pip` and I supposed you're not pushing anything there while v8 is still in development.

Thank you!

[2017-08-27 12:47] kerstin commented on #130
Ok, just tried it with `nikola theme -c tag.tmpl`. Works, yay!

[2017-08-27 13:02] #131 closed

[2017-08-27 13:03] Kwpolska commented on #131
The following passage appears in the lanyon tutorial:

I made a few other changes to the docs (getnikola/nikola@a3dd4c2) that will appear on the website soon.

[2017-08-27 13:31] #130 closed

[2017-09-16 05:03] GrantRVD opened #134 "[canterville] Banner and Twitter/Github buttons don't display"
I tried using the canterville theme to create a new Nikola site tonight, and while there are no errors reported on when I run `nikola build` and the theme install seems to have gone fine, the banner image, github icon, and twitter icon are not present on the rendered page - I checked the source and didn't see them placed anywhere in the HTML. I then made a new directory to run `nikola init --demo

[2017-09-16 05:30] GrantRVD commented on #134
I've now noticed that I seem to have issues with other themes as well. The reveal theme displays almost correctly, but there are no transitions or even scrolling. It seems like something is wrong with my nikola defaults, because these issues also occur with the demo site, where the only changes I've made to `conf.py` are to add entries to `GLOBAL_CONTEXT` required by the themes.

[2017-09-16 08:17] Kwpolska commented on #134
This sounds like an issue with assets.
1. How did you install Nikola?
2. What OS are you on?
3. How does the `bootstrap3` theme look?
4. Does your browser have JavaScript enabled?
5. How are you testing the site?

[2017-09-16 21:44] GrantRVD commented on #134
1.  I did `pip install nikola` in a conda environment. I have also tried installing nikola without a conda env, but the problem still persists.

2. Ubuntu 16.04 LTS

3. The `bootstrap3` theme on the demo site build looks almost identical to the one hosted on [the theme webpage](https://themes.getnikola.com/v8/bootstrap3/demo/), except for one thing: the line break between "Welcome to Nikola" and t

[2017-09-16 22:01] GrantRVD commented on #134
To allow for easier reproducibility, these are the only lines I added/changed in the `conf.py` for the demo site, generated by `nikola init --demo -q`:

[code]
The site should look like [this](https://themes.getnikola.com/v7/canterville/demo/) but this is a screenshot of what I get.
![screenshot from 2017-09-16 14-52-55](https://user-images.githubusercontent.com/4311681/30516270-10dd5e40-9aef-11e7

[2017-09-17 08:42] Kwpolska commented on #134
The changes you see in bootstrap3 are caused by (a) having two post authors on the web version and (b) some CSS changes in Nikola v8 (from which the demo site is built).

It looks like your global context is ignored. Where did you put it? Note that we create an empty GLOBAL_CONTEXT at the end of the default `conf.py` file, so it would override anything you inserted above it.

[2017-09-17 22:06] GrantRVD commented on #134
Now I feel silly. I should have noticed `conf.py` had another assignment for `GLOBAL_CONTEXT`, since I already noticed the assets weren't included in the output HTML. I copied from the theme's sample conf file into the same place where the theme is defined. Everything works fine now. Thanks a lot for debugging such a simple issue!

[2017-09-17 22:06] #134 closed

[2017-10-14 21:32] gnohz opened #135 "[hemingway] tags?"
I like the theme, but is there any way that I can add "tags" to it.
It is not just for navigation, but I have to use "mathjax" to show math.

[2017-10-15 02:44] gnohz opened #136 "[lanyon] code block paddings"
I am new to Nikola, and I am wondering if we can adjust paddings for code blocks.
It seems "lanyon" sets more space at top than bottom for code blocks.
Can I change some parameters in lanyon.css to balance the paddings?
Thanks.

[2017-10-15 03:19] gnohz commented on #136
I changed two line in `poole.css`:
[code]
Before, they were both 0.
Problem solve!

[2017-10-15 08:04] Kwpolska commented on #135
Tags don’t need to be displayed in order for  `mathjax` to work (the tag part is handled inside Nikola). If math doesn’t work, that means the theme doesn’t have math support.

@ralsina, mind looking into that?

[2017-10-15 08:04] Kwpolska commented on #136
Which two lines? Care to make a pull request?

[2017-10-15 16:34] gnohz commented on #135
Yes, it works and displays math properly when expanding to the whole post.
It does not work only in the "teaser" status.

[2017-10-15 16:36] Kwpolska commented on #135
I’ll look into it later.

[2017-10-15 17:04] #135 closed

[2017-10-15 17:04] Kwpolska commented on #135
Fixed. The fix will be up on themes.getnikola.com in a few minutes.

[2017-10-25 17:45] mckea opened #137 "[bnw]"
The footer on this theme positions correctly on most platforms, but not on IE:

https://www.browserstack.com/screenshots/e5c1a5ea9e52dc1c61ef1224f1ca9514404e1a1b

Is there a simple fix for this?

[2017-10-25 17:48] Kwpolska commented on #137
Does this happen on a real system as well? BrowserStack can sometimes make things look wrong on their screenshots.

[2017-10-25 17:54] Kwpolska commented on #137
Reproduced in IE 11 on Windows 7. @lotabout, any ideas?

[2017-10-25 18:22] mckea commented on #137
@Kwpolska - yes, the initial report came from someone with access to Win/IE.

[2017-10-26 03:06] lotabout commented on #137
@Kwpolska add `height: 100vh;` after this line(https://github.com/getnikola/nikola-themes/blob/master/v7/bnw/less/bnw.less#L69) should fix this issue.

[2017-10-26 05:28] gramster opened #138 "[canterville] Banner image doesn't seem to work"
I've tried my own and the default. I get no banner. What I do get is some text appearing when I hover near top left on site that says "Blog logo" but it links back to the top level page.

Example at www.grahamwheeler.com

[2017-10-26 13:31] mckea commented on #137
This seems not to work.

[2017-10-26 16:25] Kwpolska commented on #138
What did you set GLOBAL_CONTEXT to? It looks like you set the banner image path to the site root instead of your desired image.

[2017-10-28 02:49] gramster commented on #138
GLOBAL_CONTEXT = {
        'TWITTER_URL': 'https://twitter.com/gramnix',
        'GITHUB_URL': 'https://github.com/gramster',
        'LINKEDIN_URL': 'https://www.linkedin.com/in/grahamwheeler',
        'BANNER_URL': '/assets/img/IMG_5590.JPG'
        #'BANNER_URL': '/assets/img/silk_road.jpg'
    }

I have silk_road in there too because I tried it too, with exactly the same results.

[2017-10-28 02:52] #138 closed

[2018-01-02 06:19] shivamvats opened #139 "[hyde] Layout is not formatted properly on mobile."

[2018-01-02 08:03] tritium21 commented on #139
Can you elaborate?  How is it improperly formatted?

[2018-01-02 09:36] shivamvats commented on #139
Here is a screenshot: https://drive.google.com/file/d/1mJ_wholvZWXmUQO8ed_oPRNwdzdNX-bB/view?usp=sharing

In the Jekyll Hyde theme, the sidebar moves to the top when viewed on a mobile device.

[2018-01-02 21:09] #139 closed

[2018-01-02 21:09] Kwpolska commented on #139
This issue was caused by a conflict between reST styles and Hyde (both use `.sidebar`). To fix this, I renamed Hyde’s class to `.hsidebar`. You can update the theme (`nikola theme -i hyde`) to fix this.

[2018-01-11 10:40] tritium21 opened #140 "Some preview images are not representative of the theme"
The preview image below is rendered incorrectly, compared to how it actually renders.

![bnw](https://user-images.githubusercontent.com/1781587/34821371-7b129674-f691-11e7-9d9e-82bda76ae3ed.png)

This is how it renders in Firefox (probably correct.)

![firefox_2018-01-11_05-38-22](https://user-images.githubusercontent.com/1781587/34821492-e868adb2-f691-11e7-9d1f-a1928892dba6.png)

[2018-01-11 15:46] ralsina commented on #140
Well, that depends on what fonts you have in the system, doesn't it?

[2018-01-11 17:34] Kwpolska commented on #140
This is caused by PhantomJS being terribly outdated. We could fix it with headless Chrome and [Puppeteer](https://github.com/GoogleChrome/puppeteer) for example.

[2018-01-11 22:01] tritium21 commented on #140
I was more concerned with phantomjs apparently choosing to render text in arbitrarily wrong locations

[2018-01-11 22:02] Kwpolska commented on #140
Well, that’s what I’m talking about: PhantomJS’s engine is outdated and isn’t as good at new CSS tricks as Chrome/Firefox. Font faces chosen is irrelevant.

[2018-01-13 12:13] githubgnulinux opened #141 "themes inaccessible via proxy server"
Similar to:

https://github.com/getnikola/nikola/issues/2946

Please consider the decision to use cloudflare

[2018-01-13 12:14] Kwpolska commented on #141
No. We’re staying with CloudFlare. Please just enter the CAPTCHA.

[2018-01-13 12:14] #141 closed

[2018-01-13 16:04] felixfontein commented on #141
If anyone else has the same problem: you can also find the themes here on github, in this repository. Simply copy the theme's folder into your local Nikola theme folder (f.ex. create a subfolder `themes` in your blog's directory and copy the theme folder into there). You might need to download other theme dependencies as well.

[2018-01-14 21:50] githubgnulinux opened #142 "nikola theme command failure"
What to check in the system for this command terminal output?

nikola theme -i base-jinja

ERROR: Nikola: Unknown command theme

[2018-01-14 21:56] Kwpolska commented on #142
You’re using an outdated version of Nikola. Based on your previous posts, you are most likely using Nikola v7.6.4 as installed from Debian repositories (`apt-get install nikola`). The version is pretty ancient (Debian’s fault), and thus not supported.

Instead, we recommend using Python 3, `virtualenv` and installing with `pip` inside a virtualenv — that should get you Nikola v7.8.11, which is the

[2018-01-14 21:56] #142 closed

[2018-01-14 21:57] Kwpolska commented on #142
PS. (1) you can’t install `base-jinja` which is built-in, (2) this sends a request to `themes.getnikola.com`, which is behind CloudFlare, and you know the rest of the story.

[2018-02-02 01:34] The-Earth opened #143 "[material-theme]"
When page width is small (for example on mobile phones), the button which shows credit message box won't stay at its place if you scroll the page (to view more content of the post). It will just go up like other elements on the page.

[2018-03-18 10:11] zouhx11 opened #144 "[zen-ipython theme] search form doesn't work"
I tried the following default codes, but I didn't see search box show up:

# This search form works for any site and looks good in the "site" theme where
# it appears on the navigation bar:
#
SEARCH_FORM = """

<form method="get" id="search" action="//duckduckgo.com/"
 class="navbar-form pull-left">
<input type="hidden" name="sites" value="%s"/>
<input type="hidden" name="k8" value="#444444"/>
<in

[2018-03-18 10:12] Kwpolska commented on #144
The zen themes do not seem to support `SEARCH_FORM`.

[2018-03-18 10:18] zouhx11 commented on #144
@damianavila What should I do to make some changes?

[2018-03-18 19:46] Kwpolska commented on #140
Fixed in commit be97dd1 by using Puppeteer. Needs one-time config and a Chrome/ium install, comes with much more accurate screenshots.

[2018-03-18 19:46] #140 closed

[2018-03-19 13:19] damianavila commented on #144
@zouhx11 you probably need to add something like this: https://github.com/getnikola/nikola-themes/blob/master/v7/slidemenu/templates/base_header.tmpl#L9-L13, to the templates in the zen-ipython theme. But maybe I am missing something else and @Kwpolska will correct me :wink:

[2018-03-19 19:44] ralsina commented on #144
That's about it, yes. Except if it looks like crap, in which case it will need something else ;-)

[2018-04-04 02:48] hilman-dayo opened #145 "[jidn] Problem with getting syntax highlighting with nikola-orgmode plugin"
Hello. First of all, thank you for the very awesome theme. One of my favorite. Right now, I am trying to incorporate this theme into my site. However, I got a problem.

I am using the [nikola orgmode plugin](https://plugins.getnikola.com/v7/orgmode/). I have followed the instructions there and basically, everything works. This is when I was using theme `bootstrap3`. However, when I am using `jidn`

[2018-04-04 15:51] #145 closed

[2018-04-04 15:51] Kwpolska commented on #145
There was an issue with this theme’s `bundles` setup (`custom.css` was not included). Reinstall the theme (`nikola theme -i jidn`) and it should work.

[2018-04-06 14:57] orblivion opened #146 "Make it clear in your tutorials where the sources for various themes are"
Just a minor UX suggestion. This is from the perspective of someone who has never used a static site generator. Keep in mind that from my perspective, when I first tried initializing a Nikola site, I was confused as to why there were no template files generated along with everything else (I'm used to Django). Where is the layout coming from? That's how clueless I am (and others probably are) comin

[2018-04-06 19:08] Kwpolska commented on #146
The built-in themes are not copied to user sites by default, which lets us improve them without needing user intervention. You can use `nikola theme -c NAME` to copy a built-in template for editing or `nikola theme -n NAME --engine ENGINE --parent PARENT` to create a new theme. (The theming tutorial uses `theme -n`.)

Built-in themes can be found in site-packages, and we recommend template overrid

[2018-04-06 19:08] #146 closed

[2018-04-07 04:27] orblivion commented on #146
Thanks!

BTW in my verbosity I think part of my point was sort of lost. I did not mean to ask you here and now why template files are not generated. Rather, I was just trying to explain my ignorant point of view, and why I wanted to see the source.

[2018-04-07 16:12] Darkfoe703 opened #147 "[hpstr] Don't work correctly. CSS"
Don't working correctly.
The following lines don't appereance it after the build:
[code]
I took the files from the example page https://themes.getnikola.com/v7/hpstr/demo/

I add this lines in index page, but when use the link of Archive, RSS, etc. the issue come back.
The problem is making these changes everytime manually.
Thank for reading. I appreciate the help.
(Sorry for the grammar, my Engli

[2018-04-07 18:28] #147 closed

[2018-04-07 18:34] Kwpolska commented on #147
This theme used to have no bundle support while requesting bundled assets at the same time. This has been fixed now (03c3d63, 84e34af), run `nikola theme -i hpstr` to update your copy.

[2018-04-15 16:01] appliedprivacy opened #148 "[bootstrap] make bootstrap work out of the box with common Content-Security-Policy"
bootstrap currently uses inline scripts (for fancydates) which does not work nicely with CSP unless you add hashes for these inline scripts to your policy.

Also after taking care of the inline scripts there appears to be a problem with the old jQuery version (1.11.x).

CSP policy used:
[code]
CSP violation as seen in the error console:
[code]

references to this problem:
https://github.com/Identi

[2018-04-15 16:06] Kwpolska commented on #148
Are you talking about the outdated `bootstrap` (2) theme? We don’t support that. `bootstrap4` on `getnikola/nikola@master` uses jQuery 3.x, which is not compatible with bs2 and bs3.

And I don’t think we can easily avoid that inline script, because we need to pass some settings to the `fancydates` function.

[2018-04-16 18:06] appliedprivacy commented on #148
Yes I was using:
https://themes.getnikola.com/v7/bootstrap/

sorry for the noise

[2018-04-16 18:06] #148 closed

[2018-04-21 03:03] augcros opened #149 "[srcco.de]"
Hey, this is my very first project. I just need a little assistance. I can't find anywhere in the css or directions via nikola handbook/getting started to tell me how to create pages for the "about" and the "tags". if someone could please give me a clue, i would be super appreciative.

Thanks!

[2018-04-21 07:41] Kwpolska commented on #149
What are you referring to, and is it related to the `srcco.de` theme? Nikola creates a `/tags/` page for you by default. To create an about page, look into [creating a page](https://getnikola.com/handbook.html#creating-a-page).

PS. for questions not related to the theme, try [other support venues](https://getnikola.com/contact.html)

[2018-04-21 07:41] #149 closed

[2018-04-24 01:12] augcros opened #150 "comments helper"
I have installed nikola, and have my blog site up and running, but we cannot get the comments to work appropriately, and looking through all of the templates and css and everything, we cannot find comments_helper.tmpl. Is there a trick to getting this? We have not found it anywhere in your sourcecodes? I am using the srcco.de theme

[2018-04-24 16:44] augcros commented on #150
Hey, so i double checked the demo site, and the comments are working the
same way that they are working on my site, which is to say, that on the
main page, you can see there is a spot for comments, but when you click
that link, it takes you to the post and there are no comments. I'm going to
check the parent/grandparent theme, but I'm not really sure what I'm
looking for as this is literally my fi

[2018-04-24 17:09] ralsina commented on #150
What theme is it?

[2018-04-25 01:47] augcros commented on #150
We found the problem. It's in the post.tmpl file.

It was missing this piece at the end of the file:
{{ comments.comment_form(post.permalink(absolute=True), post.title(),
post._base_path) }}

I don't know how to submit a patch.... so here you go :)

aug

On Tue, Apr 24, 2018 at 1:11 PM, August Crosby <augcrosby1985@gmail.com>
wrote:

[2018-04-25 01:48] augcros commented on #150
Source code theme. It looks like the parent theme runs in version 8 of
Nikola, which my Linux computer doesn't support. That may be the problem

We found the problem. It's in the post.tmpl file.

It was missing this piece at the end of the file:
{{ comments.comment_form(post.permalink(absolute=True), post.title(),
post._base_path) }}

I don't know how to submit a patch.... so here you go :)

aug

[2018-04-25 14:38] ralsina commented on #150
@thanks augcros! I will see if I can add it.

[2018-05-02 18:15] #112 closed

[2018-05-11 12:05] encarsia commented on #40
I also ran in this issue and solved the problem by adding

[code]
to my custom.css (assuming I just messed something up when fiddling around with the theme...).

Regards

[2018-05-13 20:27] Kwpolska commented on #40
It looks okay, at least on my end, and with the v8 modernized version (revised a few seconds ago):

![image](https://user-images.githubusercontent.com/327323/39971511-88058c80-56fc-11e8-95e5-71baf41d5d4c.png)

[2018-05-17 21:00] hartwork opened #153 "[foundation6 theme] Source code line numbers out of place"
Hi!

Should I report here or rather to https://github.com/okin/nikola-theme-foundation6?
As you can see in this shot, line numbers are not aligned to the related line with this theme. This is recent Chromium.

![foundation6_source_code](https://user-images.githubusercontent.com/1577132/40203509-bbcb3fde-5a25-11e8-8491-6c5bad970b4a.png)

It's a pity, because the theme has a unique style.

PS: There

[2018-05-17 21:50] hartwork opened #154 "[hyde theme] Source code line numbers broken"
Related to #153. Source code rendering, especially the line numbers are way off with the (otherwise very appealing) hyde theme. This is recent Firefox, same in recent Chromium:

![nikola__hyde_theme__source_code](https://user-images.githubusercontent.com/1577132/40205533-aa455874-5a2c-11e8-918f-b6b695b8f810.png)

[2018-05-18 06:52] okin commented on #153
Don't have an idea yet but can take a look.

To reproduce: restructuredText with _code_ directive like shown [in the handbook](https://getnikola.com/handbook.html#code)?

[2018-05-18 13:27] ralsina commented on #154
The problem is that those are getting ``white-space: pre-wrap`` instead of ``pre`` so it's probably an easy fix. Looking...

[2018-05-18 13:32] ralsina commented on #154
One line fix in def205216aab57754e0c25af05e47558ccc95680

[2018-05-18 13:32] #154 closed

[2018-05-18 14:27] Kwpolska commented on #153
That, or a listing. Perhaps some adjustments for scrollbars or word wrap are needed?

[2018-05-18 17:57] hartwork commented on #154
Awesome!

Now that the most off thing is fixed, i notice how the source code listing is has horizontal space at places where it doesnot add to beauty but makes the listing a lot wider than the rest of the article. I'm not suggesting to make it too short, but maybe reduce whitespace a bit and even widen the page to get them back together? Here's a picture:

![nikola__hyde_theme__source_code_2](http

[2018-05-18 18:13] hartwork commented on #153
For reproduction (with Bash):
[code]
Please note the `$` in the line using `echo`.

[2018-05-18 20:09] ralsina commented on #154
Sure, why not.

[2018-05-18 20:15] hartwork opened #155 "[hyde theme] Source code listing has suboptimal spacing"
Hi!

This started os as a comment at https://github.com/getnikola/nikola-themes/issues/154#issuecomment-390284849 but here it goes as a dedicated ticket again:

Now that line number are back in line, I notice how the source code listing has horizontal space at places where it does not add to beauty but makes the listing a lot wider than the rest of the article. I'm not suggesting to make it too na

[2018-05-20 00:54] AresScorpio opened #156 "[material-theme]"
![image](https://user-images.githubusercontent.com/3578989/40274527-04b0c9c6-5bd9-11e8-94ef-0adea3f1c0e9.png)
the design seems to be broken...
i also get an error in my console:
TypeError: $(...).parent(...).colorbox is not a function

using the latest firefox

[2018-05-20 08:48] Kwpolska commented on #156
The demo site works fine for me in both Firefox and Chrome: https://themes.getnikola.com/v8/material-theme/demo/

Does the demo site work for you? How are you testing? Any unusual browser plugins?

(The colorbox issue is expected, all themes need to be updated for Nikola v8 compatibility and this hasn’t been done yet)

[2018-05-20 13:17] AresScorpio commented on #156
the demo site works also fine for me :astonished:  but if I apply the theme it looks like the screenshot above... i haven't changed anything just installed the theme using "nikola theme -i material-theme"
and changing my config.py (also ran a nikola clean and deleted all files manually from my server befor running nikola build and nikola deploy)

[2018-05-20 16:29] #155 closed

[2018-05-20 16:50] Kwpolska commented on #156
As part of breaking-things-for-v8, we stopped shipping the unminified `bootstrap.css` file in themes. Bundles (with `USE_BUNDLES`) for this theme were broken, but they are disabled for the demo site (we used `bootstrap.min.css` in this case). Fix upcoming.

[2018-05-20 16:57] #156 closed

[2018-05-20 16:58] Kwpolska commented on #156
Done, you can run `nikola theme -i material-theme` to reinstall. I also fixed colorbox warnings.

[2018-05-20 20:18] hartwork commented on #155
Hi @ralsina,

while I was very looking forward to see this in action, the numbered listing has improved a lot but unfortunately there is a regression on code listings without numbers now: No-numbers listings had some margin/padding left _and_ right for a centered look previously, but the left one is gone now which looks kind of broken:

![nikola_hyde_regression](https://user-images.githubuserconte

[2018-05-20 21:52] ralsina commented on #155
There is no way to do that AFAICS.

[2018-05-20 21:54] hartwork commented on #155
Let me propose a deal: Let's revert the previous commit, re-open the bug and I try to make a pull request making both work based on your prior work. What do you think?

[2018-05-21 14:30] AresScorpio commented on #156
Thank you very much!

[2018-05-21 17:45] ralsina commented on #155
I like it better now than before. If you want to propose a different change, please do a PR.

[2018-07-10 15:13] ianbarton opened #160 "[canterville]"
I am getting the following error on Arch Linux.

Python 3.6.6
Nikola v7.8.15

`Scanning posts...........done!
.  render_galleries:output/galleries/index.html
TaskError - taskid:render_galleries:output/galleries/index.html
PythonAction Error
Traceback (most recent call last):
  File "/home/ian/.virtualenvs/nikola/lib/python3.6/site-packages/doit/action.py", line 424, in execute
    returned_value =

[2018-07-10 15:13] Kwpolska commented on #160
What are your NAVIGATION_LINKS?

[2018-07-11 18:01] ianbarton commented on #160
`NAVIGATION_LINKS = {
    DEFAULT_LANG: (
        ("/archive.html", "Archive"),
        ("/categories/", "Tags"),
        ("/pages/about/index.html", "About"),

        ((("/pages/parish_council/index.html", "Parish Council"),
          ("/pages/transparency/index.html", "Transparency"),
          ('/pages/meetings/minutes-agendas/index.html', 'Parish Council Meetings and Agendas.')), 'Parish Coun

[2018-07-12 12:06] Kwpolska commented on #160
The Canterville theme currently supports one level of navigation links.  Patches to make it work with submenus are always welcome.

[2018-07-12 12:31] ianbarton commented on #160
Thanks. However, I still get the error with the default config:
`NAVIGATION_LINKS = {
    DEFAULT_LANG: (
        ('/archive.html', 'Archives'),
        ('/categories/index.html', 'Tags'),
        ('/rss.xml', 'RSS'),
        ((('/foo', 'FOO'),
          ('/bar', 'BAR')), 'BAZ'),
    ),

}
`

[2018-07-12 14:02] Kwpolska commented on #160
You still have some nesting in your example.

[2018-07-12 18:01] ianbarton commented on #160
Thanks, you are quite correct:) Works fine with no nesting.

[2018-11-26 22:20] okin opened #163 "[foundation6][v8] Open Graph support broken"
Open Graph / Twitter Card support is currently broken.

Probably everything that needs to be done is updating `post_helper.tmpl`.

[2018-11-27 22:10] #163 closed

[2019-02-12 01:03] hygorxaraujo opened #166 "Zen does not show search_form"
When I try to configure the search form in `conf.py` I get the following error:

[code]

The setup:
[code]

[2019-02-12 09:11] Kwpolska commented on #166
`search_form` is already available in the global context, don’t add it to GLOBAL_CONTEXT manually.

[2019-02-12 23:39] hygorxaraujo commented on #166
Ok, thank you for your reply. I got to this configuration by following a sample conf.py (probably outdated). My real problem is that after setting SEARCH_FORM in conf.py the search form is not showing in my theme. Tried with themes zen and zen-forkawesome.

[2019-02-13 19:30] Kwpolska commented on #166
Which conf.py was it?

[2019-02-13 19:31] Kwpolska commented on #166
Which conf.py was it?

`SEARCH_FORM` needs to be used by the theme. The zen themes might not include it in the default configuration, if that’s the case, you’ll need to manually add `${search_form}` in the template in the place where you want it to appear.

[2019-02-13 23:06] hygorxaraujo commented on #166
Sorry, can't find or remember where I saw the conf.py.

From this https://github.com/getnikola/nikola-themes/blob/69deab1c6b2b76c154f9e17fb7ac731a7208e51a/v8/zen/templates/base_header.tmpl#L9 it seems that the search form is used by zen. If I move that piece of code to before `${header.html_navigation_links()}` in base.tmpl, the search form is shown, although not properly.
https://github.com/getni

[2019-02-14 19:26] Kwpolska commented on #166
Yeah, that’s a bug. The function you’re seeing is not used anywhere. I’ll fix this.

To make the search_form look nice, you will need custom CSS. If you find something that looks good, feel free to contribute this to the `zen` theme itself.

[2019-02-16 13:15] #166 closed

[2019-04-15 11:37] angelgcuartero opened #169 "[hemingway]"
I don't know in the original theme, but I find Nikola Hemingway theme lacking some margin space when showing content. It happens in both desktop and mobile, so I was checking CSS (not an expert) and experimenting a bit. Maybe the solution is adding something like this in style.css for this theme:

`article {
    margin-left: 1rem;
    margin-right: 1rem
}`

Not sure if this is the best way to fix

[2019-04-22 18:11] davidak opened #170 "[bootstrap3-jinja] Exception: Can't find theme 'bootstrap3'"
It seems i can't install the theme because it is not installed.

[code]

Or does it has to be included in the package?

[code]

[2019-04-22 18:25] Kwpolska commented on #170
Cannot reproduce with Nikola from `master`, even with `THEME = 'bootstrap3-jinja'`

[code]

After that, `nikola build` succeeds.

[2019-05-28 06:13] AGausmann opened #171 "[hack] Inline source code is hard to distinguish from plain text."
Example:

![2019-05-28-010915_956x510_scrot](https://user-images.githubusercontent.com/6611767/58454731-f9998f00-80e4-11e9-8d0b-0941f6ba660e.png)

Source code:

[code]

Since the theme is primarily monospace, it makes it even more difficult than normal. I'd suggest boxing it with a different background color to distinguish it from the surrounding text.

[2019-07-22 20:35] jukent opened #174 "[carpet] Can carpet theme be supported in v8?"

[2019-07-22 21:00] Kwpolska commented on #174
You should be able to install it and use it with v8, and at least basic functionality should work.

[2019-08-02 18:50] ralsina commented on #171
You can easily customize it (just put stuff in files/assets/css/custom.css) but yeah, I agree that it would look better with a different background

[2019-11-25 20:29] mmguero opened #179 "[hyde] code literal-block background color too narrow"
Is there any way to make the background coloring of the `<pre class="code literal-block">` blocks wider? Anything beyond about 66 characters is overflowing the size of the shaded portion.

![screenshot-20191125_132704](https://user-images.githubusercontent.com/13872653/69575511-a2875080-0f87-11ea-921b-91e08ee855e3.png)

[2019-11-25 22:35] ralsina commented on #179
No idea. I will try to find some time to play with the CSS at some point.

[2019-11-28 23:37] hilman-dayo opened #180 "[jidn] Cannot build website with jidn theme"
Hello.

There is a problem with jidn theme.
After installing and setting up the theme, upon `nikola build`, I got this error:

    Scanning posts..........done!
    [2019-11-28T23:29:42Z] ERROR: Nikola: Error loading tasks. An unhandled exception occurred.
    [2019-11-28T23:29:42Z] ERROR: Nikola: mako.exceptions.CompileException: Named block 'extra_footer' not allowed inside of def 'html_footer'

[2019-11-28 23:38] Kwpolska commented on #180
See getnikola/nikola#3320.

[2019-11-28 23:38] #180 closed

[2019-12-06 15:15] cl0wnm3at opened #181 "[material-theme]"
I am wondering where it is (what page, file, etc.) in which path the variable `BIOGRAPHY` is to be defined? That is where does the code go?
Ref: [For convenience, first define a variable with the html biography.](https://themes.getnikola.com/v8/material-theme/)

Also, can I assume that the avatar path is relative to the root of the material-theme folder?
Ref: `GLOBAL_CONTEXT = {
    'author_avatar

[2019-12-08 20:49] #181 closed

[2020-01-20 08:53] baali opened #182 "[material-theme] Figures are not responsive."
By default figures are not responsive and tend to mess up rendering of pages, specially on mobile phone screens.

For example: This is problematic case:
![Width-Issue](https://user-images.githubusercontent.com/451188/72713451-15c9cf00-3b93-11ea-88ec-d78d5e78da6c.png)

And here is an example where we set `width=100%` for `img` tag:
![Fixed-Width](https://user-images.githubusercontent.com/451188/727

[2020-01-21 06:59] #182 closed

[2020-01-21 07:01] baali commented on #182
For images, make sure to use `thumbnail` class. Using them will not cause this issue.

[2020-02-19 16:37] anderbubble opened #185 "[bootstrap4] missing css, js files"
I just noticed that my bootstrap4-themed site is generating 404s for two files presumably referenced by the bootstrap4 theme:

- https://civilfritz.net/assets/js/bootstrap.min.js.map
- https://civilfritz.net/assets/css/bootstrap.min.css.map

I don't see anything in my files that's referencing these basenames, so it looks like the theme is calling for them but not providing them.

[2020-02-19 19:17] Kwpolska commented on #185
Issues related to `bootstrap4` should go in the main `getnikola/nikola` repo.

This one is caused by `/*# sourceMappingURL=bootstrap.min.css.map */` at the end of the “real” .js and .css files. This file can be used to aid web development, because it maps stuff in the minified file to the full, human-readable file, so that instead of everything being in `bootstrap.min.css:6`, you get a more intere

[2020-02-19 19:17] #185 closed

[2020-02-19 20:31] anderbubble commented on #185
Understood. fwiw, I posted here because of the link at https://themes.getnikola.com/v8/bootstrap4/.

That link goes to https://github.com/getnikola/nikola-themes/issues/new?title=%5Bbootstrap4%5D

[2020-02-19 21:17] Kwpolska commented on #185
I updated the wording and links for built-in themes in commit 3ec459b.

[2020-03-10 11:39] AdriaanRol commented on #136
I had the exact same problem.

After inspecting the code I changed `pre` in  `themes/lanyon/assets/css/poole.css` to the following.
[code]

You may want to tweak the `border-radius` and `padding` settings to get something to your personal preferences.

[2020-04-17 09:29] akhmerov opened #186 "[material] broken gallery"
The gallery rendering isn't working, see:

https://themes.getnikola.com/v8/material-theme/demo/galleries/demo/

I also see `unexpected token '{'` in the js console, so it seems like a template error.

[2020-04-17 09:32] #186 closed

[2020-04-17 09:33] Kwpolska commented on #186
Thanks for reporting. The Jinja2 templates had some Mako-style variables in them. Fixed.

[2020-04-25 14:53] doppioandante opened #187 "kiss theme not publicly available"
Hello, I bugged @Kwpolska a few days ago about this specific theme not being available on themes.getnikola.com, and they regenerated the website.
Apparently the theme still isn't shown there though

[2020-04-25 15:06] #187 closed

[2020-04-25 15:06] Kwpolska commented on #187
The metadata of this theme made our themes site consider `kiss` a variant of `base`. I fixed the metadata and it is now displayed properly.

[2020-05-01 23:38] yostos opened #188 "[hemingway] A bug of base.tmpl"
The following statement should be placed after "${set_locale(lang)}".

[2020-05-05 23:34] #188 closed

[2020-05-05 23:34] Kwpolska commented on #188
Fixed, thanks!

[2020-05-06 23:14] yostos commented on #188
Thank you so much!

[2020-07-28 13:11] plum opened #191 "[hack]"
Thank you for your kind contribution. It is close to what I wanted, and very nice work.
I installed the them into my blog without problems, and it loads. I find the Blog title gtes cut short, as does the page title, ut I am sur eI can solve that.

I cannot get the variant to work, and am not sur eif I am configuring correctly, although I tried a number of possibilities.

In my root conf.py I enter

[2020-07-28 14:27] Kwpolska commented on #191
`GLOBAL_CONTEXT` is defined at the end of `conf.py`. You need to put ` GLOBAL_CONTEXT['HACK_VARIANT'] = 'dark'` at the bottom, after `GLOBAL_CONTEXT` is defined.

There are no theme-specific config files.

[2020-07-28 14:27] #191 closed

[2020-07-28 18:26] plum commented on #191
Thanks Kwpolska.
I still don't get it. The instructions are not sufficient.

I have at line 1371
`GLOBAL_CONTEXT = {}`
You say I must define it. How should I define it? I am supposed to enter functions, modules or data that I want available to templates. I tried, without success,

`GLOBAL_CONTENT=[HACK_VARIANT]`

Then, below that you say I am supposed to enter:
`GLOBAL_CONTEXT['HACK_VARIANT'] = 'd

[2020-07-28 18:32] Kwpolska commented on #191
It should look like this:

[code]

Or like this:

[code]

For more details, refer to the Python tutorial.

[2020-07-28 18:38] plum commented on #191
Ah yes, of course! I thought I had tried that! After your 1st tip.  It works now.
Many thanks for your kind help.
Nikola is very very good. I used a similar engine called 'webber' for years, but alas it has dissapeared and is restricted to python2.  I wanted to stick with a python engine that could serve dicuments and blogs.. and I have it now, after examining so many ... including the node.js kin

[2020-09-26 23:06] ant-222 opened #194 "Support custom.css in the KISS theme"
Although the official *Handbook* [claims](https://www.getnikola.com/handbook.html#customizing-your-site) universal support of `custom.css`, the `KISS` theme does not happen to respect it and thus is not customisable. I hereby request that support of `custom.css` be added to it.

[2020-09-27 00:05] ralsina commented on #194
Hi there!

If you see the theme's README, it says it **only** works using bundles. If you want to add an extra CSS you need to add it to its bundle.

https://github.com/getnikola/nikola-themes/blob/master/v8/kiss/bundles

Just edit that file and add the CSS files you want next to the others.

[2020-09-27 14:04] Kwpolska commented on #194
Having `custom.css` in the bundles wouldn’t hurt (we do that with `bootstrap4`). I’ll add it there.

[2020-09-27 14:15] #194 closed

[2020-09-28 22:05] ant-222 commented on #194
Thank you very much, @Kwpolska.

[2020-09-28 22:07] ant-222 commented on #194
@ralsina Yes, I have seen the README, but lack of `cusom.cs` supported contradicted the official *Nikola* documentation, which should take priority over the documentation of specific themes. I confirm the problem is now fixed.

[2020-09-28 22:35] ralsina commented on #194
Honestly tempted to delete it. Blocking you.

El lun., 28 de septiembre de 2020 7:07 p. m., Anton Shepelev <
notifications@github.com> escribió:

[2020-10-04 12:32] ArcTanSusan opened #195 "[canterville] The default silk-road background image does not appear"
Id like to see the silk-road image but I do not see it.  This is the post:

[code]
<img width="1870" alt="Screen Shot 2020-10-04 at 5 31 38 AM" src="https://user-images.githubusercontent.com/954858/95015649-e5cc3a00-0602-11eb-8c00-68ced2141c89.png">

[2020-10-05 17:12] ant-222 commented on #194
@ralsina I beg your pardon: why did you block me?

[2020-11-15 12:54] Kwpolska commented on #195
Sorry the response took a while, this got lost in my inbox.

The silk-road image appears only on the index page. If this is a subpage (the post page), the image is not visible. If this is the index page, and you can’t see the image there, make sure you set it in `GLOBAL_CONTEXT`, as the theme suggests:

[code]

If you want to use the cat house photo, put its path in `BANNER_URL`. Modifying the tem

[2020-11-15 12:54] #195 closed

[2021-03-03 20:36] kamchy opened #197 "[hyde] Does Hyde theme supports generation of Twitter Cards / Open Graph data?"
Hello,
I  wanted to ask if hyde theme supports generation of proper title/image etc. OG tags?

I deployed generated page, but it seems twitter card cannot be generated due to insufficient markup (i.e. missing data): when I checked e.g [this blog entry] (https://kamilachyla.com/posts/java-13-i-14-bloki-tekstowe-i-rekordy/) at [twitter cards validator](https://cards-dev.twitter.com/validator) and re

[2021-03-10 23:44] Kwpolska commented on #197
That seems to be a bug in the `hyde` theme (namely, leftover references to `use_open_graph`, which was deleted).

[2021-03-19 21:41] #197 closed

[2021-03-23 12:01] horstjens opened #199 "[material-theme] how to display category of a blogpost inside the blogposting"
Using the material theme with nikola, i struggle to understand how to display the category of a blogpost automatically (next to the automatic-generated list of tags) in a blogpost.

I understand that i can link from the navbar to the category overview page to display all tags and all categories, but i want that
 - when displaying one single blogposting - the category of this blogposting is display

[2021-03-23 13:08] Kwpolska commented on #199
That’s not a `conf.py` setting, but you can easily implement this on your own by changing the `post.tmpl` template (look at the `html_tags` macro for an example on how to format it, the category name should be available in `post.meta["category"]`).

[2021-03-23 14:31] horstjens commented on #199
Thank You  @Kwpolska !
I was able to code the desired effect for my blog's default language, but now i struggle to make the link aware of a translated language.

I did this (main language is "de") inside the file post.tmpl:
`<nav>

    category: {{ post.meta('category') }}
    <div><a class="reference" href="/categories/cat_{{ post.meta('category') }}/"> <i class="mdi-action-done"></i>{{ post.meta

[2021-03-23 14:53] Kwpolska commented on #199
You can use the `_link` function. This should work (untested):

[code]

[2021-03-23 19:03] horstjens commented on #199
Thank you @Kwpolska, it worked !

[2021-03-23 19:03] #199 closed

[2021-04-16 22:03] DO1JLR opened #200 "[srcco.de] theme not present"
based on https://themes.getnikola.com/v7/srcco.de/ there should be a theme at https://github.com/hjacobs/srcco.de

Well... It is not.

[2021-04-16 22:08] Kwpolska commented on #200
If you’re looking for the theme itself, you can just install it with `nikola theme -i srcco.de`. The author moved their stuff to https://codeberg.org/hjacobs/srcco.de — I updated the link in this repo, the site will get updated someday.

[2021-04-16 22:08] #200 closed

[2021-04-16 22:10] DO1JLR commented on #200
thank you. i just noticed when i started to familiarize myself with nikola and thought i'd let you know. :kissing_heart:

[2021-05-30 09:59] encarsia opened #202 "[hybrid] minor changes: more colour presets"
Hi there,

FTR: I've already opened a [PR](https://github.com/getnikola/nikola-themes/pull/201) on this.

I just added some more main colour options to the theme as you can see in [my blog post](https://log.bahnfreikartoffelbrei.de/posts/hybrid-theme-colours/).

I'd appreciate some feedback or your acceptance.

Regards.

[2021-05-30 14:44] Kwpolska commented on #202
I merged the PR, it got lost in my inbox — sorry for that.

[2021-05-30 14:44] #202 closed

[2021-07-17 02:35] andy47 opened #203 "[carpet] `is_mathjax` error building my site"
Hi, I have a problem with the carpet theme. I installed it following instructions on the theme home page - https://themes.getnikola.com/v7/carpet/

But when I change the THEME setting in my `conf.py` and try and build my site I get an error message;

  File "/Users/andy47/Work/envs/nikola/lib/python3.9/site-packages/mako/runtime.py", line 947, in _exec_template
    callable_(context, *args, **kwar

[2021-07-17 02:36] andy47 commented on #203
Sorry, forgot to say that I'm running Nikola v8.1.3 on Mac OS.

[2021-07-17 21:00] Kwpolska commented on #203
The `carpet` theme might not be compatible with Nikola v8 — it might still be using old-style math code. It should be updated to ensure it works (and PRs are very welcome!)

[2021-11-15 01:58] bl4ckj4ck777 commented on #134
Had the exact same issue 4 years later. Was not obvious that the GLOBAL_CONTEXT was being overwritten until I read this post, glad it was here, I've been fighting this for hours!

[2021-12-30 18:43] gramster opened #204 "Hyphenation issues when page is rendered in Canterville theme"
Hi all![image](https://user-images.githubusercontent.com/2762632/147779674-c7fe5890-c3ca-492f-8f9d-feb182a41f44.png)
My blog had not been updated in some time but I recently posted a new article, and in the course of doing that updated my version of Nikola, as well as the themes. The result now is very strange; I have word breaks being inserted that are indicated by little 'x' characters on a reve

[2022-01-09 13:36] okin opened #205 "[willy-theme] Footer disabled by default"
To enable the footer in the _willy-theme_ you have to edit the theme file `base.tmpl` and uncomment the call to `footer.html_footer()`.

It would be nice if I could switch the inclusion of the footer through an option in `conf.py`.

[2022-01-16 18:35] emilywbailey opened #206 "[mdl] theme use blocks nikola from building"
Candidly have not put any effort into debugging this, not a web dev (until today, I guess), & when I saw that the error message ended with a runtime file I went straight to a different theme. Nikola site (`v8.2.0`) currently has all the boilerplate from following the setup wizard + one added page. No other changes.
[code]

[2022-01-16 18:39] emilywbailey commented on #206
`willy-theme` is also giving me trouble, albeit a completely different issue (it builds, just fails to pick up a number of design elements) so maybe I misunderstood these themes to be more plug & go than they actually are. closing the issue until I'm more familiar w/ the intent / how much I'm supposed to know about html/css/mako/jinja/... to use them

[2022-01-16 18:39] #206 closed

[2022-08-22 14:31] sysdef opened #210 "[bnw] gallery_shortcode: Generating galleries not working with that theme"
With theme **bnw** this ends up in

[code]

With other templates it's running well.

[2022-08-22 14:52] laodzu opened #211 "[zen] Uncaught ReferenceError: moment is not defined"
Hi,

with current Nikola, the zen theme will throw this error in the browser console.  This can easily be reproduced by these steps:

[code]

Open http://127.0.0.1:8000 and look at browser console.

Commit f1d480d87508edb3ea62ae39ba0e3c7fa49a4ce9 changed the handling of fancy dates in Nikola core to a luxon based solution.  The zen theme never carried moment-with-locales.min.js which it references

[2022-10-20 21:53] #211 closed